<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 class="header">Hello</h1>
    </header>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quibusdam delectus numquam dolor minus
        praesentium, doloremque consequatur modi amet ullam quaerat eligendi voluptatibus aspernatur nobis?
        Reprehenderit, esse. Inventore atque, porro sequi quasi soluta corporis, molestiae architecto magni ad, itaque
        fugit.</p>
</body>

</html>